{% extends "layout.html" %}

{% block content %}
  
  <div class="page-header">
    <h1>{{ title }}</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <img id="profileImg" src="https://pbs.twimg.com/profile_images/378800000500453121/0f8ead5d3dbd4e3f747aaca6bf3b8d9a.png"><br>
    </div>
    <div class="col-md-9">
      <div class="sendTweet">
        {% if showForm %}
          <form action="/submit" method="POST">
            <label for="name_field">Name:</label>
            <input name="name" type="text" id="name_field" value="{{name}}"/>

            <label for="text_field">Text:</label>
            <input name="text" type="text" id="text_field" style="width: 350px;" />

            <input type="submit" value="Submit" />
          </form>
          {% endif %}
      </div>
        <h3>All Tweets</h3>
      <!-- display tweets here -->
        <ul id="tweet-list">
        {% for tweet in tweets %}
          <li class="tweetbox">
              <a href="/users/{{tweet.name}}"><img src="{{tweet.pictureUrl}}"></a>
              <a href="/users/{{tweet.name}}" class="content by">{{tweet.name}}</a>
              <br>
              <span class="content">{{tweet.tweet}}<span>
              <br>
              <a href="#" class="content">Re-tweet</a>
          </li>
        {% endfor %}
        </ul>
      
    </div>
  </div>
    
{% endblock %}